<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Emotions</key>
	<array>
		<dict>
			<key>Desc</key>
			<string>[大笑]</string>
			<key>Image</key>
			<string>大笑</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[大佬]</string>
			<key>Image</key>
			<string>大佬</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[哭笑不得]</string>
			<key>Image</key>
			<string>哭笑不得</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[难过]</string>
			<key>Image</key>
			<string>难过</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[无法言说]</string>
			<key>Image</key>
			<string>无法言说</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[吃惊]</string>
			<key>Image</key>
			<string>吃惊</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[睡觉]</string>
			<key>Image</key>
			<string>睡觉</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[微笑]</string>
			<key>Image</key>
			<string>微笑</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[调皮]</string>
			<key>Image</key>
			<string>调皮</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[花痴]</string>
			<key>Image</key>
			<string>花痴</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[坏笑]</string>
			<key>Image</key>
			<string>坏笑</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[贱笑]</string>
			<key>Image</key>
			<string>贱笑</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[大哭]</string>
			<key>Image</key>
			<string>大哭</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[白眼]</string>
			<key>Image</key>
			<string>白眼</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[可怜]</string>
			<key>Image</key>
			<string>可怜</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[嫌弃]</string>
			<key>Image</key>
			<string>嫌弃</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[尴尬]</string>
			<key>Image</key>
			<string>尴尬</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[发火]</string>
			<key>Image</key>
			<string>发火</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[呕吐]</string>
			<key>Image</key>
			<string>呕吐</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[哭泣]</string>
			<key>Image</key>
			<string>哭泣</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[呆]</string>
			<key>Image</key>
			<string>呆</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[汗]</string>
			<key>Image</key>
			<string>汗</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[咒骂]</string>
			<key>Image</key>
			<string>咒骂</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[偷笑]</string>
			<key>Image</key>
			<string>偷笑</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[卖萌]</string>
			<key>Image</key>
			<string>卖萌</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[撇嘴]</string>
			<key>Image</key>
			<string>撇嘴</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[太阳]</string>
			<key>Image</key>
			<string>太阳</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[熊不开心]</string>
			<key>Image</key>
			<string>熊不开心</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[熊开心]</string>
			<key>Image</key>
			<string>熊开心</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[熊调皮]</string>
			<key>Image</key>
			<string>熊调皮</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[熊汗]</string>
			<key>Image</key>
			<string>熊汗</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[熊哭]</string>
			<key>Image</key>
			<string>熊哭</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[熊财迷]</string>
			<key>Image</key>
			<string>熊money</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[熊不爽]</string>
			<key>Image</key>
			<string>熊不爽</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[熊呆]</string>
			<key>Image</key>
			<string>熊呆</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[熊拜托]</string>
			<key>Image</key>
			<string>熊拜托</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[猫]</string>
			<key>Image</key>
			<string>猫</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[恶魔]</string>
			<key>Image</key>
			<string>恶魔</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[精灵调皮]</string>
			<key>Image</key>
			<string>精灵调皮</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[精灵坏笑]</string>
			<key>Image</key>
			<string>精灵坏笑</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[精灵开心]</string>
			<key>Image</key>
			<string>精灵开心</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[精灵哭泣]</string>
			<key>Image</key>
			<string>精灵哭泣</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[精灵惊讶]</string>
			<key>Image</key>
			<string>精灵惊讶</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[精灵闭嘴]</string>
			<key>Image</key>
			<string>精灵闭嘴</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[精灵卖萌]</string>
			<key>Image</key>
			<string>精灵卖萌</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[精灵大笑]</string>
			<key>Image</key>
			<string>精灵大笑</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[精灵爱心]</string>
			<key>Image</key>
			<string>精灵爱心</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[精灵天使]</string>
			<key>Image</key>
			<string>精灵天使</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[精灵撇嘴]</string>
			<key>Image</key>
			<string>精灵撇嘴</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[精灵哦]</string>
			<key>Image</key>
			<string>精灵哦</string>
		</dict>
		<dict>
			<key>Desc</key>
			<string>[精灵飞吻]</string>
			<key>Image</key>
			<string>精灵飞吻</string>
		</dict>
	</array>
</dict>
</plist>
